@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="background-image: url(https://thumbs.dreamstime.com/b/conjunto-de-varios-c%C3%B3cteles-con-fondo-negro-variados-agitador-sobre-188649840.jpg); background-repeat:no-repeat;background-position:center;background-color:#000000; color:#ffffff; background-position: right">
    <h1>CockTail City Web</h1>
    <p class="lead">Microempresa enfocada a la fabribación,</p>
    <p class="lead">venta y distribución de cockteles con y sin licor</p>
</div>
